@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #C9DABF;
    --secondary-color: #9CA986;
    --tertary-color: #808D7C;
    --quaternary-color: #5F6F65;
}
body{
    @apply bg-gray-800 flex flex-col min-h-screen;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    @apply mx-auto max-w-[80%];
}

footer{
   @apply mt-auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    @apply font-bold;
}