@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply bg-gray-600 flex flex-col min-h-screen;
   
}
.container{
    @apply mx-auto max-w-[95%];
}

footer{
   @apply mt-auto;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    @apply font-bold;
} */